/* GENERAL-------------------------------------------------------------------- */
body{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

p{
  margin: 0;
}

table{
  color: inherit;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5{
  text-align: center;
}

a{
  color: inherit;
  text-decoration: none;
}



/* DOCUMENT -------------------------------------------------------------------------- */
.container{
  background-color: #000;
}

.section:not(:first-child){
  padding-top: 25px;
}
.section{
  padding: 15px 0 30px;
}

body div.container div.section:nth-child(even){
  color: #000;
  background-color: #fff;
}

/* HEADER */
.menu ul{
  list-style: none;
  float: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.menu li{
  float: left;
  margin-right: 12px;
}
.menu{
  overflow: hidden;
}

/* PORTFOLIO */

.websites{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.websites .website{
  width: 33.33%;
  height: 16.66vw;
  background-color: grey;
  border: 1px solid black;
  float: left;
  text-align: center;
  line-height: 16.66vw;
  transition: font-size .5s ease;
}

/* LEGONAUTAS */

.medida-section td:first-child{
  text-align: right;
}

.medida-section button{
  position: relative;
  left: 50%;
  padding: 5px 0;
  transform: translateX(-50%);
  margin-top: 10px;
}

.medida-section table{
  margin: 0 auto;
  padding: 7px;
}

.medida-section h3{
  text-transform: uppercase;
}

.medida-section h2{
  margin-bottom: 12px;
}





/* RESPONSIVENESS ---------------------------------------- */



@media (min-width: 768px){
  /* PORTFOLIO */
  .websites .website:hover{
    font-size: 28px;
    transition: font-size .5s ease;
  }
}
